* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-size: 20px;
  font-family: 'Tahoma', 'Courier New', Courier, monospace;
}

body {
  margin: 0;
}

/* LoginPage */
.LoginPage {
  margin: 100px auto;
  width: fit-content;
}

.LoginPage form {
  height: 300px;
}

.LoginPage form input {
  padding: 5px;
  font-size: 18px;
  width: 250px;
}

.LoginPage form section:first-child input {
  margin-bottom: 30px;
}

input {
  margin-bottom: 20px;
}

.LoginPage form button {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  width: 250px;
  border: 0;
  border-radius: 3px;
  background-color: #3257ff;
  box-shadow: 0px 0px 2px 2px #3257ff;
}

.LoginPage button:hover {
  cursor: pointer;
  background-color: #1431b9;
}

/* Header */
.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid red;
}

/* UserMenu */
.UserMenu {
  display: flex;
  align-items: center;
  position: relative;
}

.UserMenu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 35px;
  right: 5px;
  background-color: #fff;
  box-shadow: 0 1px 3px 3px rgba(0, 0, 0, 0.5);
}

.UserAvatar {
  border-radius: 50%;
  border: 1px solid red;
}

/* MessageList */
.MessageList .no-messages {
  text-align: center;
  margin-top: 40px;
}
